USE [master]
GO
/****** Object:  Database [MindSpaceDB]    Script Date: 25/5/2026 8:50:54 PM ******/
CREATE DATABASE [MindSpaceDB] ON  PRIMARY 
( NAME = N'MindSpaceDB', FILENAME = N'C:\Users\rabia\MindSpaceDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MindSpaceDB_log', FILENAME = N'C:\Users\rabia\MindSpaceDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MindSpaceDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MindSpaceDB]
GO
/****** Object:  Table [dbo].[Bookmarks]    Script Date: 25/5/2026 8:50:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookmarks](
	[BookmarkID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[DateBookmarked] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookmarkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BugReports]    Script Date: 25/5/2026 8:50:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BugReports](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[ReportText] [nvarchar](max) NOT NULL,
	[UserAgent] [nvarchar](500) NULL,
	[DateSubmitted] [datetime] NOT NULL,
	[Status] [nvarchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 25/5/2026 8:50:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Category] [nvarchar](100) NULL,
	[ThumbnailURL] [nvarchar](255) NULL,
	[DifficultyLevel] [nvarchar](50) NULL,
	[Duration] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[DateCreated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 25/5/2026 8:50:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[EnrollmentID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[EnrollDate] [datetime] NULL,
	[Progress] [int] NULL,
	[IsCompleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EnrollmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForumComments]    Script Date: 25/5/2026 8:50:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumComments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[PostID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[DatePosted] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ForumPosts]    Script Date: 25/5/2026 8:50:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ForumPosts](
	[PostID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[DatePosted] [datetime] NULL,
	[IsActive] [bit] NULL,
	[ViewCount] [int] NULL,
	[IsResolved] [bit] NOT NULL,
	[EditedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionOptions]    Script Date: 25/5/2026 8:50:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionOptions](
	[OptionID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionID] [int] NOT NULL,
	[OptionLabel] [char](1) NOT NULL,
	[OptionText] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 25/5/2026 8:50:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[QuizID] [int] NOT NULL,
	[QuestionText] [nvarchar](max) NOT NULL,
	[QuestionType] [nvarchar](20) NULL,
	[CorrectAnswer] [nvarchar](255) NOT NULL,
	[OrderNum] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizResults]    Script Date: 25/5/2026 8:50:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizResults](
	[ResultID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[QuizID] [int] NOT NULL,
	[Score] [int] NOT NULL,
	[TotalQuestions] [int] NOT NULL,
	[Percentage] [decimal](5, 2) NULL,
	[Feedback] [nvarchar](max) NULL,
	[DateTaken] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quizzes]    Script Date: 25/5/2026 8:50:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quizzes](
	[QuizID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[PassingScore] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuizID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resources]    Script Date: 25/5/2026 8:50:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resources](
	[ResourceID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[ResourceType] [nvarchar](50) NULL,
	[Content] [nvarchar](max) NULL,
	[URL] [nvarchar](500) NULL,
	[OrderNum] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ResourceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuccessStories]    Script Date: 25/5/2026 8:50:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuccessStories](
	[StoryID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NOT NULL,
	[UserID] [int] NULL,
	[DisplayName] [nvarchar](100) NOT NULL,
	[Achievement] [nvarchar](200) NOT NULL,
	[WhatLearned] [nvarchar](max) NOT NULL,
	[Result] [nvarchar](max) NOT NULL,
	[IsApproved] [bit] NOT NULL,
	[DatePosted] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProgress]    Script Date: 25/5/2026 8:50:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProgress](
	[ProgressID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[EventType] [nvarchar](50) NOT NULL,
	[ReferenceID] [int] NULL,
	[ProgressPct] [int] NULL,
	[ScoreValue] [decimal](5, 2) NULL,
	[MinutesSpent] [int] NOT NULL,
	[RecordedAt] [datetime] NOT NULL,
	[CourseID] [int] NULL,
	[QuizID] [int] NULL,
	[ActionType] [nvarchar](50) NULL,
	[Score] [decimal](5, 2) NULL,
	[DateCreated] [datetime] NOT NULL,
	[IsCompleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25/5/2026 8:50:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[ProfilePicture] [nvarchar](255) NULL,
	[Bio] [nvarchar](max) NULL,
	[DateRegistered] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bookmarks] ON 

INSERT [dbo].[Bookmarks] ([BookmarkID], [UserID], [CourseID], [DateBookmarked]) VALUES (5, 10, 10, CAST(N'2026-05-24T02:11:48.693' AS DateTime))
SET IDENTITY_INSERT [dbo].[Bookmarks] OFF
GO
SET IDENTITY_INSERT [dbo].[BugReports] ON 

INSERT [dbo].[BugReports] ([ReportID], [UserID], [ReportText], [UserAgent], [DateSubmitted], [Status]) VALUES (1, 2, N'Test bug report submitted via Playwright on the new ReportBug page.', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36', CAST(N'2026-05-20T11:15:55.900' AS DateTime), N'open')
INSERT [dbo].[BugReports] ([ReportID], [UserID], [ReportText], [UserAgent], [DateSubmitted], [Status]) VALUES (2, 10, N'ok.', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36', CAST(N'2026-05-22T17:48:24.710' AS DateTime), N'open')
INSERT [dbo].[BugReports] ([ReportID], [UserID], [ReportText], [UserAgent], [DateSubmitted], [Status]) VALUES (3, 10, N'h', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36 Edg/148.0.0.0', CAST(N'2026-05-23T23:38:09.190' AS DateTime), N'open')
SET IDENTITY_INSERT [dbo].[BugReports] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([CourseID], [Title], [Description], [Category], [ThumbnailURL], [DifficultyLevel], [Duration], [IsActive], [CreatedBy], [DateCreated]) VALUES (1, N'Stress Management Fundamentals', N'Learn evidence-based techniques to identify, manage, and reduce stress in your daily life. This course covers the science of stress, practical coping strategies, time management, and relaxation techniques.', N'Stress Management', NULL, N'Beginner', N'4 weeks', 1, 1, CAST(N'2026-05-16T17:43:06.053' AS DateTime))
INSERT [dbo].[Courses] ([CourseID], [Title], [Description], [Category], [ThumbnailURL], [DifficultyLevel], [Duration], [IsActive], [CreatedBy], [DateCreated]) VALUES (2, N'Mindfulness & Meditation', N'Explore the practice of mindfulness and meditation to cultivate present-moment awareness, reduce anxiety, and improve focus. Includes guided exercises and daily practice routines.', N'Mindfulness', NULL, N'Beginner', N'6 weeks', 1, 1, CAST(N'2026-05-16T17:43:06.053' AS DateTime))
INSERT [dbo].[Courses] ([CourseID], [Title], [Description], [Category], [ThumbnailURL], [DifficultyLevel], [Duration], [IsActive], [CreatedBy], [DateCreated]) VALUES (3, N'Understanding Anxiety', N'A comprehensive guide to understanding anxiety disorders, their causes, symptoms, and effective management strategies. Learn cognitive-behavioural techniques to challenge anxious thoughts.', N'Anxiety', NULL, N'Intermediate', N'5 weeks', 1, 1, CAST(N'2026-05-16T17:43:06.053' AS DateTime))
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Enrollments] ON 

INSERT [dbo].[Enrollments] ([EnrollmentID], [UserID], [CourseID], [EnrollDate], [Progress], [IsCompleted]) VALUES (1, 2, 1, CAST(N'2026-05-16T17:43:06.060' AS DateTime), 100, 1)
INSERT [dbo].[Enrollments] ([EnrollmentID], [UserID], [CourseID], [EnrollDate], [Progress], [IsCompleted]) VALUES (2, 2, 2, CAST(N'2026-05-16T17:43:06.060' AS DateTime), 50, 0)
INSERT [dbo].[Enrollments] ([EnrollmentID], [UserID], [CourseID], [EnrollDate], [Progress], [IsCompleted]) VALUES (3, 3, 1, CAST(N'2026-05-16T17:43:06.060' AS DateTime), 100, 1)
SET IDENTITY_INSERT [dbo].[Enrollments] OFF
GO
SET IDENTITY_INSERT [dbo].[ForumComments] ON 

INSERT [dbo].[ForumComments] ([CommentID], [PostID], [UserID], [Content], [DatePosted], [IsActive]) VALUES (1, 1, 3, N'I find the 5-minute morning meditation works great! Just sitting quietly and focusing on breathing before starting the day sets a positive tone. Also, the mindful eating practice from the course helped me be more present during meals.', CAST(N'2026-05-16T17:43:06.060' AS DateTime), 1)
INSERT [dbo].[ForumComments] ([CommentID], [PostID], [UserID], [Content], [DatePosted], [IsActive]) VALUES (2, 1, 4, N'Box breathing is my go-to! 4 counts in, 4 hold, 4 out, 4 hold. I use it during stressful moments throughout the day. Apps like Calm or Headspace also have great guided sessions if you prefer audio guidance.', CAST(N'2026-05-16T17:43:06.060' AS DateTime), 1)
INSERT [dbo].[ForumComments] ([CommentID], [PostID], [UserID], [Content], [DatePosted], [IsActive]) VALUES (3, 2, 2, N'The Pomodoro technique is a game changer! I also started keeping a worry journal - writing down anxious thoughts before studying helps clear my mind. And please remember to eat well and sleep enough - they make a huge difference!', CAST(N'2026-05-16T17:43:06.060' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[ForumComments] OFF
GO
SET IDENTITY_INSERT [dbo].[ForumPosts] ON 

INSERT [dbo].[ForumPosts] ([PostID], [UserID], [Title], [Content], [DatePosted], [IsActive], [ViewCount], [IsResolved], [EditedAt]) VALUES (1, 2, N'What mindfulness technique works best for you?', N'Hi everyone! I''ve been struggling with exam stress lately and started practising mindfulness. I''ve tried the body scan meditation and find it helpful before bed. What techniques have worked best for you? Any tips for beginners?', CAST(N'2026-05-16T17:43:06.060' AS DateTime), 1, 0, 0, NULL)
INSERT [dbo].[ForumPosts] ([PostID], [UserID], [Title], [Content], [DatePosted], [IsActive], [ViewCount], [IsResolved], [EditedAt]) VALUES (2, 3, N'Managing anxiety during exam season - share your tips!', N'As final exams approach, I know many of us are feeling the pressure. I wanted to create a space for us to share what''s been helping us cope. For me, it''s been: 1) Breaking study sessions into 25-minute blocks (Pomodoro), 2) Daily 10-minute morning walks, and 3) Limiting caffeine after 2pm. What works for you?', CAST(N'2026-05-16T17:43:06.060' AS DateTime), 1, 0, 0, NULL)
INSERT [dbo].[ForumPosts] ([PostID], [UserID], [Title], [Content], [DatePosted], [IsActive], [ViewCount], [IsResolved], [EditedAt]) VALUES (3, 4, N'Has anyone tried the 4-7-8 breathing technique?', N'I just learned about the 4-7-8 breathing technique from the Stress Management course and I''m amazed at how quickly it works! Within a couple of minutes I feel calmer. I''ve started using it before presentations and it''s really helped with my nerves. Has anyone else tried this? What''s your experience?', CAST(N'2026-05-16T17:43:06.060' AS DateTime), 1, 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[ForumPosts] OFF
GO
SET IDENTITY_INSERT [dbo].[QuestionOptions] ON 

INSERT [dbo].[QuestionOptions] ([OptionID], [QuestionID], [OptionLabel], [OptionText]) VALUES (1, 1, N'A', N'A persistent feeling of worry about future events')
INSERT [dbo].[QuestionOptions] ([OptionID], [QuestionID], [OptionLabel], [OptionText]) VALUES (2, 1, N'B', N'A temporary emotion only experienced by anxious people')
INSERT [dbo].[QuestionOptions] ([OptionID], [QuestionID], [OptionLabel], [OptionText]) VALUES (3, 1, N'C', N'A sign of weakness')
GO
SET IDENTITY_INSERT [dbo].[QuestionOptions] OFF
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([QuestionID], [QuizID], [QuestionText], [QuestionType], [CorrectAnswer], [OrderNum]) VALUES (1, 1, N'What is anxiety?', N'multiple_choice', N'A', 1)
INSERT [dbo].[Questions] ([QuestionID], [QuizID], [QuestionText], [QuestionType], [CorrectAnswer], [OrderNum]) VALUES (2, 1, N'Which breathing technique helps reduce anxiety?', N'multiple_choice', N'B', 2)
INSERT [dbo].[Questions] ([QuestionID], [QuizID], [QuestionText], [QuestionType], [CorrectAnswer], [OrderNum]) VALUES (3, 1, N'Anxiety disorder affects what percentage of adults?', N'multiple_choice', N'C', 3)
GO
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
SET IDENTITY_INSERT [dbo].[QuizResults] ON 

INSERT [dbo].[QuizResults] ([ResultID], [UserID], [QuizID], [Score], [TotalQuestions], [Percentage], [Feedback], [DateTaken]) VALUES (0, 2, 1, 3, 3, CAST(100.00 AS Decimal(5, 2)), N'Excellent work! You passed with 100%. Keep up your mental wellness journey!', CAST(N'2026-05-16T18:36:01.950' AS DateTime))
INSERT [dbo].[QuizResults] ([ResultID], [UserID], [QuizID], [Score], [TotalQuestions], [Percentage], [Feedback], [DateTaken]) VALUES (1, 2, 3, 3, 3, CAST(100.00 AS Decimal(5, 2)), N'Excellent work! You passed with 100%. Keep up your mental wellness journey!', CAST(N'2026-05-16T18:39:34.317' AS DateTime))
INSERT [dbo].[QuizResults] ([ResultID], [UserID], [QuizID], [Score], [TotalQuestions], [Percentage], [Feedback], [DateTaken]) VALUES (2, 9, 2, 2, 3, CAST(66.70 AS Decimal(5, 2)), N'Good effort! You scored 66.7%. Review the course materials and try again.', CAST(N'2026-05-17T15:55:47.740' AS DateTime))
SET IDENTITY_INSERT [dbo].[QuizResults] OFF
GO
SET IDENTITY_INSERT [dbo].[Quizzes] ON 

INSERT [dbo].[Quizzes] ([QuizID], [CourseID], [Title], [Description], [PassingScore]) VALUES (1, 3, N'Understanding Anxiety', N'Test your knowledge about anxiety, its causes, and management techniques.', 70)
INSERT [dbo].[Quizzes] ([QuizID], [CourseID], [Title], [Description], [PassingScore]) VALUES (2, 2, N'Mindfulness & Meditation', N'Test your understanding of mindfulness principles and meditation practices.', 70)
INSERT [dbo].[Quizzes] ([QuizID], [CourseID], [Title], [Description], [PassingScore]) VALUES (3, 1, N'Stress Management', N'Assess your knowledge of stress causes, effects, and healthy coping strategies.', 70)
SET IDENTITY_INSERT [dbo].[Quizzes] OFF
GO
SET IDENTITY_INSERT [dbo].[Resources] ON 

INSERT [dbo].[Resources] ([ResourceID], [CourseID], [Title], [ResourceType], [Content], [URL], [OrderNum]) VALUES (3, 1, N'How to Make Stress Your Friend - Kelly McGonigal (TED)', N'video', NULL, N'https://www.youtube.com/embed/RcGyVTAoXEU', 3)
SET IDENTITY_INSERT [dbo].[Resources] OFF
GO
SET IDENTITY_INSERT [dbo].[SuccessStories] ON 

INSERT [dbo].[SuccessStories] ([StoryID], [CourseID], [UserID], [DisplayName], [Achievement], [WhatLearned], [Result], [IsApproved], [DatePosted]) VALUES (1, 1, NULL, N'Aisha M.', N'Stress-Free Exam Season', N'I learned that stress is not the enemy, my reaction to it is. The 4-7-8 breathing technique became my go-to before every exam.', N'Reduced pre-exam anxiety by roughly 60%. My grades improved because I could think clearly instead of panicking.', 1, CAST(N'2026-05-17T15:48:25.840' AS DateTime))
INSERT [dbo].[SuccessStories] ([StoryID], [CourseID], [UserID], [DisplayName], [Achievement], [WhatLearned], [Result], [IsApproved], [DatePosted]) VALUES (2, 1, NULL, N'James T.', N'Work-Life Balance Restored', N'The time management module showed me how I was creating my own stress with unrealistic task lists. I now use the Eisenhower Matrix daily.', N'I finish work on time 4 days a week now. My evenings are genuinely relaxing again.', 1, CAST(N'2026-05-17T15:48:25.840' AS DateTime))
INSERT [dbo].[SuccessStories] ([StoryID], [CourseID], [UserID], [DisplayName], [Achievement], [WhatLearned], [Result], [IsApproved], [DatePosted]) VALUES (3, 1, NULL, N'Priya K.', N'Mastered Progressive Relaxation', N'Progressive muscle relaxation felt strange at first but after a week I could release tension in minutes. It changed how I end every day.', N'I fall asleep within 20 minutes now instead of lying awake worrying for an hour.', 1, CAST(N'2026-05-17T15:48:25.840' AS DateTime))
SET IDENTITY_INSERT [dbo].[SuccessStories] OFF
GO
SET IDENTITY_INSERT [dbo].[UserProgress] ON 

INSERT [dbo].[UserProgress] ([ProgressID], [UserID], [EventType], [ReferenceID], [ProgressPct], [ScoreValue], [MinutesSpent], [RecordedAt], [CourseID], [QuizID], [ActionType], [Score], [DateCreated], [IsCompleted]) VALUES (3, 2, N'enroll', 7, 0, NULL, 5, CAST(N'2026-05-17T20:05:10.073' AS DateTime), NULL, NULL, NULL, NULL, CAST(N'2026-05-17T20:05:10.073' AS DateTime), 0)
INSERT [dbo].[UserProgress] ([ProgressID], [UserID], [EventType], [ReferenceID], [ProgressPct], [ScoreValue], [MinutesSpent], [RecordedAt], [CourseID], [QuizID], [ActionType], [Score], [DateCreated], [IsCompleted]) VALUES (4, 2, N'resource_view', 7, 50, NULL, 15, CAST(N'2026-05-17T20:05:10.087' AS DateTime), NULL, NULL, NULL, NULL, CAST(N'2026-05-17T20:05:10.087' AS DateTime), 0)
INSERT [dbo].[UserProgress] ([ProgressID], [UserID], [EventType], [ReferenceID], [ProgressPct], [ScoreValue], [MinutesSpent], [RecordedAt], [CourseID], [QuizID], [ActionType], [Score], [DateCreated], [IsCompleted]) VALUES (5, 10, N'quiz_fail', 6, 40, CAST(40.00 AS Decimal(5, 2)), 10, CAST(N'2026-05-18T17:25:17.000' AS DateTime), NULL, NULL, NULL, NULL, CAST(N'2026-05-18T17:25:17.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[UserProgress] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Username], [Email], [PasswordHash], [Role], [ProfilePicture], [Bio], [DateRegistered], [IsActive]) VALUES (1, N'System Administrator', N'admin', N'admin@mindspace.com', N'240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9', N'admin', NULL, NULL, CAST(N'2026-05-16T17:43:06.050' AS DateTime), 1)
INSERT [dbo].[Users] ([UserID], [FullName], [Username], [Email], [PasswordHash], [Role], [ProfilePicture], [Bio], [DateRegistered], [IsActive]) VALUES (2, N'Alex Johnson', N'alexj', N'alex@student.apu.edu.my', N'89dfd05f08d48ad49d49a5f87fbd56f9a6f81d7347b661abf6a2208637b5ae05', N'learner', NULL, N'', CAST(N'2026-05-16T17:43:06.053' AS DateTime), 1)
INSERT [dbo].[Users] ([UserID], [FullName], [Username], [Email], [PasswordHash], [Role], [ProfilePicture], [Bio], [DateRegistered], [IsActive]) VALUES (3, N'Sarah Chen', N'sarahc', N'sarah@student.apu.edu.my', N'8776f108e247ab1e2b323042c049c266407c81fbad41bde1e8dfc1bb66fd267e', N'learner', NULL, NULL, CAST(N'2026-05-16T17:43:06.053' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ_Bookmark_User_Course]    Script Date: 25/5/2026 8:50:55 PM ******/
ALTER TABLE [dbo].[Bookmarks] ADD  CONSTRAINT [UQ_Bookmark_User_Course] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Enrollme__7B1A1BB5B5F29717]    Script Date: 25/5/2026 8:50:55 PM ******/
ALTER TABLE [dbo].[Enrollments] ADD UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserProgress_User]    Script Date: 25/5/2026 8:50:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserProgress_User] ON [dbo].[UserProgress]
(
	[UserID] ASC,
	[RecordedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E40A03BE99]    Script Date: 25/5/2026 8:50:55 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534BE3083F3]    Script Date: 25/5/2026 8:50:55 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookmarks]  WITH CHECK ADD  CONSTRAINT [FK_Bookmarks_Courses] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookmarks] CHECK CONSTRAINT [FK_Bookmarks_Courses]
GO
ALTER TABLE [dbo].[Bookmarks]  WITH CHECK ADD  CONSTRAINT [FK_Bookmarks_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookmarks] CHECK CONSTRAINT [FK_Bookmarks_Users]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ForumComments]  WITH CHECK ADD FOREIGN KEY([PostID])
REFERENCES [dbo].[ForumPosts] ([PostID])
GO
ALTER TABLE [dbo].[ForumComments]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ForumPosts]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[QuestionOptions]  WITH CHECK ADD FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Questions] ([QuestionID])
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD FOREIGN KEY([QuizID])
REFERENCES [dbo].[Quizzes] ([QuizID])
GO
ALTER TABLE [dbo].[QuizResults]  WITH CHECK ADD FOREIGN KEY([QuizID])
REFERENCES [dbo].[Quizzes] ([QuizID])
GO
ALTER TABLE [dbo].[QuizResults]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Quizzes]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[Resources]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[SuccessStories]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[SuccessStories]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserProgress]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[UserProgress]  WITH CHECK ADD FOREIGN KEY([QuizID])
REFERENCES [dbo].[Quizzes] ([QuizID])
GO
ALTER TABLE [dbo].[UserProgress]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
USE [master]
GO
